.step[data-step="shipping_method"],
.step[data-step="contact_information"],
.step[data-step="payment_method"],
.page--thank-you .main__content > .section > .section__content {
  position: relative;
}
.step[data-step="shipping_method"]:before,
.step[data-step="contact_information"]:before,
.step[data-step="payment_method"]:before,
.page--thank-you .main__content > .section > .section__content:before {
  content: "Åadowanie...";
  font-size: 1.5em;
  display: block;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 200px;
}
.step[data-step="shipping_method"] > *,
.step[data-step="contact_information"] > *,
.step[data-step="payment_method"] > *,
.page--thank-you .main__content > .section > .section__content > * {
  visibility: hidden;
}
.step[data-step="shipping_method"].loaded,
.step[data-step="contact_information"].loaded,
.step[data-step="payment_method"].loaded,
.page--thank-you .main__content > .section > .section__content.loaded {
  position: inherit;
}
.step[data-step="shipping_method"].loaded:before,
.step[data-step="contact_information"].loaded:before,
.step[data-step="payment_method"].loaded:before,
.page--thank-you .main__content > .section > .section__content.loaded:before {
  content: "";
  top: 0;
}
.step[data-step="shipping_method"].loaded > *,
.step[data-step="contact_information"].loaded > *,
.step[data-step="payment_method"].loaded > *,
.page--thank-you .main__content > .section > .section__content.loaded > * {
  visibility: visible;
}
.os-step__title.error {
  color: #f00;
}
