.step[data-step="shipping_method"], .step[data-step="contact_information"] {
  position relative

  &:before {
    content: "Ładowanie...";
    font-size: 1.5em;
    display: block;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 200px;
  }

  > form {
    visibility hidden
  }

  &.loaded {
    position inherit

    &:before {
      content ""
      top 0
    }

    > form {
      visibility visible
    }
  }
}