.step[data-step="shipping_method"],
.step[data-step="contact_information"],
.step[data-step="payment_method"],
.page--thank-you .main__content > .section > .section__content{
  position relative

  &:before {
    content: "Ładowanie...";
    font-size: 1.5em;
    display: block;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 200px;
  }

  > * {
    visibility hidden
  }

  &.loaded {
    position inherit

    &:before {
      content ""
      top 0
    }

    > * {
      visibility visible
    }
  }
}

.os-step__title.error{
  color: red;
}